<div class="week-forecasts" *ngIf="!isLoading">
    <div class="week">
        <div class="day" *ngFor='let day of weekForecasts'>
            <div class="day-wrapper">
                <span class="day-title">{{ getDays(day.Date) }}</span>
                <img src="{{'assets/weatherIcons/' + day.Day.Icon}}-s.png" *ngIf='isDayForecast'>
                <img src="{{'assets/weatherIcons/' + day.Night.Icon}}-s.png" *ngIf='!isDayForecast'>
                <span class="weather-title text-muted">
                    {{(isDayForecast === true) ?
                                    day.Day.IconPhrase :
                                    day.Night.IconPhrase }}
                </span>
                <b *ngIf='isDayForecast'>{{ day.Temperature.Maximum.Value }}°{{ day.Temperature.Maximum.Unit }}</b>
                <b *ngIf='!isDayForecast'>{{ day.Temperature.Minimum.Value }}°{{ day.Temperature.Minimum.Unit }}</b>
                <div class="more-info text-muted" *ngIf='isMoreInfoOpen'>
                    <div class="more-info-wraper">
                        <span class="more-info-item" *ngIf='isDayForecast'><b>Feels like:</b>
                            {{ day.RealFeelTemperature.Maximum.Value }}°{{ day.RealFeelTemperature.Maximum.Unit }}
                        </span>
                        <span class="more-info-item" *ngIf='!isDayForecast'><b>Feels like:</b>
                            {{ day.RealFeelTemperature.Minimum.Value }}°{{ day.RealFeelTemperature.Minimum.Unit }}</span>
                        <span *ngIf='isDayForecast' class="more-info-item"><b>Rain Probability:</b>
                            {{ day.Day.PrecipitationProbability}}%</span>
                        <span *ngIf='!isDayForecast' class="more-info-item"><b>Rain Probability:</b>
                            {{ day.Night.PrecipitationProbability}}%</span>
                        <span class="more-info-item"><b>Hours of sun:</b>
                            {{day.HoursOfSun}}</span>
                        <span class="more-info-item"><b>Hours of rain:</b>
                            {{day.Day.HoursOfRain}}</span>
                    </div>
                    <div class="sun-moon">
                        <div>
                            <b>Sun</b>
                            <span class="more-info-item">Rise: {{day.Sun.Rise | date :'shortTime'}}</span>
                            <span class="more-info-item">Set: {{day.Sun.Set | date :'shortTime'}}</span>
                        </div>
                        <div>
                            <b>Moon</b>
                            <span class="more-info-item">Rise: {{day.Moon.Rise | date :'shortTime'}}</span>
                            <span class="more-info-item">Set: {{day.Moon.Set | date :'shortTime'}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <span class="more-info-img" (click)='getMoreInfo()'>
        {{isMoreInfoOpen === true ? 'Less' : 'More'}}
    </span>
</div>