.title {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}
.favorites {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .favorite {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.5em 1em;
    width: 32%;
    margin: 0.1em;
    box-shadow: 10px 10px 10px -15px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    @media (max-width: 415px) {
      width: 100%;
    }
    .options {
      .dropdown {
        .dropdown-menu {
          opacity: 0.9;
          .dropdown-itemp {
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            width: 13em;
            @media (max-width: 415px) {
              width: 11em;
            }
            img {
              width: 1.5em;
              height: 1.5em;
              margin: 0 0.4em;
            }
            p {
              opacity: 0.5;
              margin: 0;
              @media (max-width: 415px) {
                font-size: 0.8em;
              }
            }
            &:hover {
              p {
                opacity: 1;
              }
            }
          }
        }
        #dropdownMenuButton {
          width: 1em;
          @media (max-width: 415px) {
            width: 0.7em;
          }
        }
      }
    }
    .data {
      img {
        width: 2em;
      }
      span {
        padding: 1em 0.2em;
        @media (min-width: 415px) {
          font-size: 1.5em;
        }
      }
    }
  }
}
