<p class="title">Favorites</p>
<div class="favorites">
    <p [style.width.%]='100' *ngIf='favoritCities.length === 0; else favorite' class="alert alert-danger">
        There are no favorites!</p>
    <ng-template #favorite>
        <div class="favorite" *ngFor='let favorite of favoritCities'>
            <div class="options">
                <div class="dropdown" >
                    <img src="assets/favIcons/menu-2.png" (click)='getCityHourlyInfo(favorite.city)' id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-itemp" (click)='previewFavData()'>
                            <img src='assets/favIcons/data.png'>
                            <p>Hourly info</p>
                        </span>
                        <div class="dropdown-divider"></div>
                        <span (click)='setCityWeather({name: favorite.city.name, key: favorite.city.key})'
                        class="dropdown-itemp">
                        <img src='assets/favIcons/partly-cloudy-day.png'>
                        <p>Set city</p>
                    </span>
                    <div class="dropdown-divider"></div>
                        <span (click)='removefromFavorites(favorite.city.key)' class="dropdown-itemp">
                            <img src="assets/favIcons/hearts--v1.png">
                            <p>Remove</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="data">
                <img src="assets/favIcons/city.png">
                <span>{{ favorite.city.name }}</span>
            </div>
        </div>
    </ng-template>
</div>