<div class="options">
    <div class="dropdown">
        <img src="assets/homeIcons/more.png" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <span *ngIf='!isAlreadyFavorite(currCity.key)'
                (click)='addToFavorites(currCity.name, currCity.key)' class="dropdown-itemp">
                <img src="assets/homeIcons/hearts.png">
                <p>Add to Favorites</p>
            </span>
            <span *ngIf='isAlreadyFavorite(currCity.key)' (click)='removefromFavorites(currCity.key)'
                class="dropdown-itemp">
                <img src="assets/homeIcons/hearts--v1.png">
                <p>Remove from Favorites</p>
            </span>
            <div class="dropdown-divider"></div>
            <span (click)='switchDegreeMode()' class="dropdown-itemp">
                <img src="assets/homeIcons/thermometer.png">
                <p>Switch to {{ degreeType === degreeTypes.Celsius ? 'Celsius' : 'Fahrenheit' }}</p>
            </span>
            <div class="dropdown-divider"></div>
            <span (click)='switchToGpsCity()' class="dropdown-itemp">
                <img src="assets/homeIcons/worldwide-location.png">
                <p>Set local weather</p>
            </span>
            <div class="dropdown-divider"></div>
            <span (click)='changeForecastView()' class="dropdown-itemp">
                <img [src]="(isDayForecast) ? 'assets/homeIcons/moon.png' :
                'assets/homeIcons/sun.png'">
                <p>View {{ isDayForecast === true ? 'night' : 'day' }} forecast</p>
            </span>
        </div>
    </div>
</div>