<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The best weather forecast app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    The best weather forecast app
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <span class="subtitle"><h1>Weather in {{ city.name }}, {{ city.country }} for 5 days</h1></span>
        <br>
        <div class="container">
            <h2>{{ weather_desc }}</h2>
                <table class="table">
                    <thead>
                            <tr>
                            <th>Date</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Feels like</th>
                            <th>Day</th>
                            <th>Night</th>
                        </tr>
                    </thead>
                    {% for weather in weather_data_days %}
                    <tbody>
                        <tr>
                            <td><span class="subtitle">{{ weather.date }}</span></td>
                            <td><span class="subtitle">{{ weather.min_temp }}° C</span></td>
                            <td><span class="subtitle">{{ weather.max_temp }}° C</span></td>
                            <td><span class="subtitle">{{ weather.feels_like }}° C</span></td>
                            <td><span class="subtitle">{{ weather.day }}</span></td>
                            <td><span class="subtitle">{{ weather.night }}</span></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>   
        </div>
    </section>
    <section class="section">
        <span class="subtitle"><h1>Weather in {{ city.name }}, {{ city.country }} for the next 12 hours</h1></span>
        <br>
        <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Datetime</th>
                            <th>Temperature</th>
                            <th>Feels like</th>
                            <th>UV-index</th>
                            <th>Humidity</th>
                            <th>Wind</th>
                            <th>Description</th>
                            <th>Precipitation</th>
                            <th>Daylight</th>
                            <th>Precipitation probability</th>
                        </tr>
                    </thead>
                    {% for weather in weather_data_hours %}
                    <tbody>
                        <tr>
                            <td><span class="subtitle">{{ weather.datetime }}</span></td>
                            <td><span class="subtitle">{{ weather.temp }}° C</span></td>
                            <td><span class="subtitle">{{ weather.feels_like }}° C</span></td>
                            <td><span class="subtitle">{{ weather.uv }} {{ weather.uv_text }}</span></td>
                            <td>{{ weather.humidity }}</td>
                            <td><span class="subtitle">{{ weather.wind_speed }} {{ weather.wind_speed_unit }}</span></td>
                            <td><span class="subtitle">{{ weather.desc }}</span></td>
                            <td><span class="subtitle">{{ weather.prec }}</span></td>
                            <td><span class="subtitle">{{ weather.daylight }}</span></td>
                            <td><span class="subtitle">{{ weather.prec_prob }}%</span></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>   
        </div>
    </section>
    <section>
        <div class="container">
            <span class="subtitle">Probability of Precipitation = {{ prec_prob_num }}%</span>
        </div>
    </section>
    
    <footer class="footer">
    </footer>
</body>

</html>